.newsletter{

    padding:90px 0;

    background:#FFF8FA;

}

.newsletter .container{

    width:92%;

    max-width:1400px;

    margin:auto;

}

.newsletter-card{

    background:linear-gradient(
        135deg,
        #FFFDFD,
        #FFEFF4
    );

    border-radius:30px;

    padding:70px;

    display:flex;

    justify-content:space-between;

    align-items:center;

    gap:60px;

    box-shadow:0 20px 45px rgba(239,111,143,.12);

}

.newsletter-content{

    flex:1;

}

.newsletter-content span{

    color:#EF6F8F;

    font-size:14px;

    font-weight:700;

    letter-spacing:3px;

}

.newsletter-content h2{

    margin:18px 0;

    font-family:"Playfair Display",serif;

    font-size:46px;

    color:#222;

}

.newsletter-content p{

    font-size:17px;

    color:#666;

    line-height:1.8;

    max-width:520px;

}
.newsletter-form{

    flex:1;

    display:flex;

    gap:15px;

}

.newsletter-form input{

    flex:1;

    height:60px;

    border:none;

    outline:none;

    padding:0 24px;

    border-radius:50px;

    background:#fff;

    font-size:16px;

    box-shadow:0 10px 25px rgba(0,0,0,.05);

}

.newsletter-form button{

    height:60px;

    padding:0 34px;

    border:none;

    border-radius:50px;

    background:linear-gradient(
        90deg,
        #EF6F8F,
        #D94C7A
    );

    color:#fff;

    font-size:16px;

    font-weight:600;

    display:flex;

    align-items:center;

    gap:10px;

    cursor:pointer;

    transition:.35s;

}

.newsletter-form button:hover{

    transform:translateY(-3px);

    box-shadow:0 18px 35px rgba(239,111,143,.28);

}

@media(max-width:992px){

.newsletter-card{

    flex-direction:column;

    text-align:center;

    padding:50px 35px;

}

.newsletter-content p{

    margin:auto;

}

.newsletter-form{

    width:100%;

    flex-direction:column;

}

.newsletter-form button{

    width:100%;

}

}

@media(max-width:576px){

.newsletter{

    padding:70px 15px;

}

.newsletter-card{

    padding:35px 20px;

}

.newsletter-content h2{

    font-size:32px;

}

}