@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500;600;700&family=Poppins:wght@300;400;500;600&display=swap');

.special-offer{
    padding:90px 0;
    background:#FFF8F8;
}



.offer-banner{

    height:560px;

    border-radius:30px;

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

    display:flex;
    align-items:center;

    padding-left:90px;

    overflow:hidden;

    position:relative;

    box-shadow:0 20px 40px rgba(0,0,0,.15);

}

/* Content */

.offer-content{

    width:48%;

}

/* Subtitle */

.offer-subtitle{

    color:#EF6F8F;

    font-size:18px;

    letter-spacing:4px;

    text-transform:uppercase;

    font-family:Poppins,sans-serif;

    margin-bottom:15px;

}

/* Heading */

.offer-content h1{

    font-family:"Cormorant Garamond",serif;

    color:white;

    font-size:50px;

    line-height:1;

    margin-bottom:25px;

}

.offer-content h1 span{

    color:#EF6F8F;

}

/* Paragraph */

.offer-text{

    color:#ffffff;

    font-size:20px;

    margin-bottom:35px;

    font-size: medium;
    font-family:Poppins,sans-serif;

}

/* Divider */

.divider{

    width:340px;

    border-top:2px dashed #7d233a;

    margin:35px 0;

    position:relative;

}

.divider span{

    position:absolute;

    left:50%;

    top:-18px;

    transform:translateX(-50%);

    background:transparent;

    color:#EF6F8F;

    font-size:28px;

}



.offer-content h2{

    color:white;

    font-size:40px;

    font-family:Poppins,sans-serif;

    margin-bottom:45px;

}

.coupon{

    color:#EF6F8F;

    font-weight:500;

}


.offer-btn{

    display:inline-block;

    padding:18px 45px;

    border-radius:18px;

    background:#C72D68;

    color:white;

    text-decoration:none;

    font-family:Poppins,sans-serif;

    font-weight:600;

    font-size:20px;

    transition:.35s;

}

.offer-btn:hover{

    background:#EF6F8F;

    color:white;

    transform:translateY(-5px);

    box-shadow:0 15px 30px rgba(199,45,104,.4);

}



@media(max-width:992px){

.offer-banner{

    height:500px;

    padding:50px;

}

.offer-content{

    width:70%;

}

.offer-content h1{

    font-size:65px;

}

.offer-content h2{

    font-size:34px;

}

.offer-text{

    font-size:22px;

}

}


@media(max-width:768px){

.offer-banner{

    justify-content:center;

    padding:30px;

    text-align:center;

}

.offer-content{

    width:100%;

}

.offer-content h1{

    font-size:48px;

}

.offer-content h2{

    font-size:26px;

}

.offer-text{

    font-size:18px;

}

.divider{

    width:220px;

    margin:auto;

    margin-top:25px;

    margin-bottom:30px;

}

.offer-btn{

    padding:14px 30px;

    font-size:16px;

}

}