@import "../Auth.css";

.register-theme {
  --auth-wrapper-y: 0px;
  --auth-title-margin-top: 16px;
  --auth-title-margin-bottom: 8px;
  --auth-subtitle-margin-bottom: 24px;
  --auth-input-gap: 16px;
  --auth-register-margin-top: 20px;
}

/* ==========================================
   REGISTER SPECIFIC STYLES
   ========================================== */
